<!-- views/todos.ejs -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Due Date</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <% todos.forEach(function(todo) { %>
      <tr>
        <td><%= todo.id %></td>
        <td><%= todo.title %></td>
        <td><%= new Date(todo.dueDate).toLocaleDateString() %></td>
        <td><%= todo.completed ? 'Yes' : 'No' %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
